@font-face {font-family: "surcouf";src: url('font/surcouf.ttf');}
@font-face {font-family: "racam";src: url('font/racam.ttf');}
@font-face {font-family: "Oklahoma";src: url('font/Oklahoma.ttf');}
@font-face {font-family: "Burrrr";src: url('font/Burrrr.ttf');}
@font-face {font-family: "Flocked2";src: url('font/Flocked2.ttf');}
@font-face {font-family: "fracasse";src: url('font/fracasse.ttf');}

