@import "reset.css";
@import "font.css";

/* idées polices
** http://www.dafont.com/fr/scurlock.font
**
*/

/* idées palettes couleurs
* yellow #e3ca76; black : #000500; parchemin : #c8b17f; brown: #58220a; white: #ffffff;
** http://colrd.com/palette/18108/
**
*/


/*   ------------------------------   Site général   ------------------------------   */


body{
	background-color: #f3f3f1;
	background: url(../img/Pirate-Bay-vuelve-aunque-con-algunos-huecos-por-tapar-b.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-family: "MariageCilou";
	font-size: 20px;
}

.container{
	width: 1200px;
	margin:auto;
	height: 100%;
}

.btn-back{
}

a{
	text-decoration: none;
	color:#000500;
	transition: all, 1s;
}

/************************************************************************
*																		*
* 									Header								*
*																		*
************************************************************************/

#header{
	margin: auto;
	width: 1200px;
	height: 140px;
	padding-bottom: 5px;
	border-bottom: 2px solid ;
}

#header .container{
	border-bottom:3px solid #913e2a;
	margin-bottom:3px;
}

/*    ----------         Menu 		---------      */

#main-nav{
}

#main-nav a{
	float:left;
	margin-top: 80px;
	font-size:2.75em;
	font-family:"surcouf";
	padding:3px 3px 3px 50px;
	background: url(../img/fish_icone.png) no-repeat;
	background-position: 5px 12px;
}

#main-nav li{
	margin-right: 50px;
}

#main-nav li:last-child{
	margin-right: 0px;
}



/************************************************************************
*																		*
* 									Main 								*
*																		*
************************************************************************/

#main{
}

#main .container{
}

/*    ----------         Menu 		---------      */

#main-sidebar{
}

.sidebar{
}

/*    ----------         Loop		---------      */

.post{
}

.title{
}

.thumb-home{
}

.resume{
}

.date{
}

.author{
}

.content{
}




/************************************************************************
*																		*
* 									Footer								*
*																		*
************************************************************************/


#footer{
}

#footer .container{
}

