@import "reset.css";
@import "font.css";

/* idées polices
** http://www.dafont.com/fr/scurlock.font
**
*/

/* idées palettes couleurs
* yellow #e3ca76; black : #000500; parchemin : #c8b17f; brown: #58220a; white: #ffffff;
** http://colrd.com/palette/18108/
**
*/


/*   ------------------------------   Site général   ------------------------------   */


body{
	background-color: #f3f3f1;
	background: url(../img/carte-au-tresor-by-tonton-copt-license-cc.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	text-align: center;
	font-family:"Raleway";
	font-size: 20px;
	color:#000;
}

strong{
	text-transform: uppercase;
	font-weight: 800;
}

a{
	text-decoration: none;
	color:#000500;
	font-family:"racam";
	transition: all, 0.3s;
}

a:hover,
a:focus{
	color: #000;
	text-shadow: 2px 2px 2px rgba(145, 62, 42, 0.8);
	text-decoration: none;
	zoom:110%;
}

nav a:hover,
a:focus{
	zoom:100%;
}

h1{
	font-family: "surcouf";
	text-transform:uppercase;
	font-size:3em;
	padding-top: 10px;
	color:#000;
	text-shadow: 2px 2px 2px rgba(145, 62, 42, 0.8);
}
h2{
	font-size:2em;
}

h2,
h4{
	font-family:"racam";
}

p, h3, h5, h6{
	font-family:"Raleway";
}

p{
	font-size:0.8em;
}

/************************************************************************
*																		*
* 									Header								*
*																		*
************************************************************************/

#header{
	margin: auto;
	height: 140px;
	padding-bottom: 5px;
	border-bottom: 2px solid ;
}

#header .container-fluid{
	background: rgba(200,177,127,0.6);
	border-bottom:3px solid #913e2a;
	margin-bottom:3px;
	padding:0px;
}

/*    ----------         Menu 		---------      */

#main-nav{
	margin: 0;
}

#main-nav ul{
	overflow:hidden;
	display:inline-block;
}

#main-nav a{
	float:left;
	font-size:2em;
	font-family:"racam";
	padding:3px 3px 3px 50px;
	background: url(../img/fish_icone.png) no-repeat;
	background-position: 5px 7px;
	margin-right:3%;
}

#main-nav li{
	margin-right: 50px;
	overflow: hidden;
	float: left;
	margin-top: 10px;
}

#main-nav li:last-child{
	margin-right: 0px;
}



/************************************************************************
*																		*
* 									Main 								*
*																		*
************************************************************************/

#main h1{
	margin-top: 50px;
	font-size: 2.5em;
}


#main aside{
	background: url(../img/bateau-de-pirate.jpg) no-repeat;
	min-height: 600px; 
	background-position: -100px 0px;
	float:right;
	z-index:2;
}

/*    ----------         Loop		---------      */

section{
	float:left;
}
.post{
	margin-top: 50px;
}

.slide{
	width: 300px;
	height: 200px;
	background: rgba(200,177,127,0.8);
	margin:auto;
	position: absolute;
	top: 0;
	left:50%;
	margin-left: -150px;
	display:none;
}

.large{
	padding-top: 15px;
	width:600px;
	margin-left: -300px;
}

.title{
}

.thumb-home{
	border: 1px solid #c8b17f;
	box-shadow: 2px 2px 5px 1px rgba(145, 62, 42, 0.8);
}

.date{
	float:left;
}

.author{
	float:right;
}

/*    ----------       Article 		---------      */

.single{
	margin: 50px 10%;
	width:80%;
	padding:20px;
	background: #fff5e0;
	border-width: 80px;
	border-image: url('../img/skull-mini.png');
	box-shadow: 0px 0px 2px 18px rgba(200,177,127,0.6);
	text-align: left;
}

.single h2{
	text-align:center;
	padding-bottom: 25px;
}

.content{
	clear:both;
	margin-top: 80px;
}

.pic-single{
	float:left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

.btn-back{
	text-transform: uppercase;
	font-size: 1.5em;
}

.single p{
	text-align:justify;
}


/*    ----------      Programme		---------      */

.prog img{
	float:left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}



/*    ----------      category		---------      */

.cat{
	margin: 50px 1%;
	width:65%;
	padding:0;
}

.annexe{
	float: left;
	width:100%;
	height:auto;
	background: none;
	position:static;
	margin-left: 0;
	display:block;
	padding:0;
}

.cat .thumb-home{
	float: left;
	max-width: 50%;
	margin-right: 10px;
}


/************************************************************************
*																		*
* 									Footer								*
*																		*
************************************************************************/


#footer{
}

#footer .container{
}

