@import "reset.css";
@import "font.css";

/* idées polices
** http://www.dafont.com/fr/scurlock.font
**
*/

/* idées palettes couleurs
** http://colrd.com/palette/18108/
**
*/


/*   ------------------------------   Site général   ------------------------------   */


body{
	background-color: #F3F3F1;
	background: url(../img/fond_pirate.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-family: "MariageCilou";
	font-size: 10px;
	z-index:1;
}

.container{
	width: 1200px;
	margin:auto;
}

.btn-back{
}

/************************************************************************
*																		*
* 									Header								*
*																		*
************************************************************************/

#header{
}

#header .container{
}

/*    ----------         Menu 		---------      */

#main-nav{
}




/************************************************************************
*																		*
* 									Main 								*
*																		*
************************************************************************/

#main{
}

#main .container{
}

/*    ----------         Menu 		---------      */

#main-sidebar{
}

.sidebar{
}

/*    ----------         Loop		---------      */

.post{
}

.title{
}

.thumb-home{
}

.resume{
}

.date{
}

.author{
}

.content{
}




/************************************************************************
*																		*
* 									Footer								*
*																		*
************************************************************************/


#footer{
}

#footer .container{
}

