/*   																				*
* ---------------------------------     Rédac     --------------------------------- *
*																					*/

body{
	background: #f3f3f1;
}

/************************************************************************
*																		*
* 									Header								*
*																		*
************************************************************************/

#header .container{
	width: 100%;
	height: 75px;
	background: #4d4f4e;
}

#header h3, #header a{
	float: right;
	margin:10px;
}

#header h2{
	float: left;
}





/************************************************************************
*																		*
* 									Main 								*
*																		*
************************************************************************/


/*    ----------         Sidebar 		---------      */
#main .container{
	width: 100%;
	height: 100%;
	padding:0;
}

#admin-sidebar{
	width:400px;
	background: #4d4f4e;
	height:100%;
	float: left;
	margin-right: 20px;
}

.active{
	background: #fbe8c7;
}

li{
	width:100%;
	height:50px;
	padding:;
}


/************************************************************************
*																		*
* 									Footer								*
*																		*
************************************************************************/